{
  "presets": [
    [
      "@babel/preset-typescript",
      { "allExtensions": true, "isTSX": true, "allowDeclareField": true, "onlyRemoveTypeImports": true }
    ],
    "@babel/preset-react",
    "@linaria"
  ],
  "plugins": [
    ["lodash"],
    "react-hot-loader/babel"
  ]
}
